<h1 class="text-capitalize my-3"><%= @user.username %>'s account</h1>

<div class="p-3 bg-white rounded">
  <%= simple_form_for @user, url: account_path do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  autofocus: true %>
      <%= f.input :email,
                  required: true %>
    </div>

    <div class="form-actions d-flex justify-content-between">
      <%= f.button :submit, "Update", :class => "btn-primary" %>
      <a href="#" data-toggle="modal" data-target="#passwordChangeModal" class="btn btn-outline-secondary">Update password</a>
    </div>
  <% end %>
</div>


<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h5" id="exampleModalLabel">Update password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @user, :url => '/user/password' do |f| %>
        <div class="modal-body">
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: {autocomplete: "new-password"} %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: {autocomplete: "new-password"} %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <%= f.button :submit, "Update", :class => "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>