<%= simple_form_for @task_filter, url: tasks_path, :method => :get do |f| %>
  <div class="form-inputs">
    <%= f.input :category_id,
                :include_blank => '‎‎‎‎‎‎‎‎ ',
                selected: f.object.category_id,
                :collection => [Category.new({:id => -1, :title => 'Uncategorized'})] + @categories.to_a %>
    <%= f.input :tag_ids, input_html: {multiple: true},
                selected: f.object.tag_ids,
                :collection => @tags %>
    <%= f.input :search,
                input_html: {value: f.object.search} %>
    <%= f.input :is_done,
                :as => :boolean,
                label: 'Filter out finished tasks',
                input_html: {checked: f.object.is_done === true || f.object.is_done == '1'} %>
    <%= f.input :group_under_categories,
                :as => :boolean,
                label: 'Group under categorized',
                input_html: {checked: f.object.group_under_categories === true || f.object.group_under_categories == '1'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Filter tasks', :class => 'btn-primary' %>
  </div>
<% end %>
