<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="d-flex flex-column full-height">
  <%= render partial: 'layouts/partials/header/header' %>
  <div class="container flex-grow-1">
    <% unless notice.nil? %>
      <p class="alert alert-info mt-3"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert alert-danger mt-3"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

  <footer class="p-2 bg-transparent small">
    Made with <i class="fas fa-heart"></i> by &copy; Samuel Kodytek
  </footer>
</div>
</body>
</html>
