<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="d-flex flex-column full-height">
  <%= render partial: 'layouts/partials/header/header' %>
  <div class="container mt-3">
    <% if user_signed_in? %>
      <%= render_breadcrumbs :separator => ' / ', builder: ::BootstrapBreadcrumbsBuilder %>
    <% end %>
  </div>
  <div class="container flex-grow-1">
    <%= render partial: 'layouts/partials/messages', locals: {notice: notice, alert: alert} %>
    <%= yield %>
  </div>

  <footer class="p-2 bg-transparent small">
    Made with <i class="fas fa-heart"></i> by &copy; Samuel Kodytek
  </footer>
</div>
</body>
</html>
